@use 'variables' as var;

.container {
  @include var.flex-column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.header {
  @include var.flex-center;
  @include var.fixed-header-footer;
  top: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  .title {
    color: var(--text-light-color);
    letter-spacing: 3px;
  }
}

.content {
  @include var.flex-column;
  position: relative;
  flex: 1;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: calc(var(--header-footer-height) + 0.5rem) 0 calc(var(--header-footer-height)) 0;
  overflow: hidden;

  .filters-container {
    background-color: var(--main-background-color);
  }

  .tree-container {
    @include var.flex-column;
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: var(--main-background-color);
  }

  .tree-body {
    flex: 1;
    border: 1px solid var(--icon-color);
    border-bottom: none;
  }
}

.footer {
  @include var.flex-center;
  @include var.fixed-header-footer;
  bottom: 0;

  .github-icon {
    margin-left: 0.5rem;
  }

  p {
    display: flex;
    align-items: center;
    color: var(--text-light-color);
    letter-spacing: 2px;
  }
}

.github-link:hover {
  .github-icon-path {
    fill: var(--highlight-text-color);
  }
}

.tree-header {
  display: grid;
  grid-template-columns: 1fr 260px 160px 260px;
  height: var(--row-height);
  align-content: center;
}

.row, .tree-body {
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

.col {
  overflow: hidden;
}

.col-text {
  @include var.col-text-style;
}

.col-text-first {
  margin-left: 2rem;
}


@media(max-width: 1100px) {
  .tree-header {
    grid-template-columns: 1fr 220px 140px 220px;
  }
}

@media(max-width: 950px) {
  .tree-header {
    grid-template-columns: 1fr 190px 120px 170px;
  }
}
