<div class="tree"
     [ngStyle]="{'margin-left': department.hierarchyLevel > 0 ? '1.5rem' : 0, 'z-index': department.departmentZIndex }">

  <div class="node">
    <div class="node-row department" [ngStyle]="{'z-index': department.departmentZIndex}">
      <div class="node-name">
        <button
          class="toggle-button"
          [ngClass]="{'expanded': department.isExpanded()}"
          [attr.aria-expanded]="department.isExpanded()"
          (click)="toggleExpand(department)"
          tabindex="0">
        </button>

        <p class="col-text">{{ department.name }}</p>
      </div>
    </div>

    @if (department.isExpanded() && department.positions) {
      @for (position of department.positions; track position.nodeId) {
        <div [attr.data-nodeId]="position.nodeId"
             class="node-row position" (click)="onPositionClick(position)"
             [ngStyle]="{'z-index': department.departmentZIndex, 'margin-left': department.subDepartments?.length ? '1.5rem' : 0}"
             [ngClass]="{'selected-row': selectedPosition()?.nodeId === position.nodeId}">

          <div class="col">
            <p class="col-text"
               [innerHTML]="position.position | highlight  : (filter$ | async)?.position ?? ''">{{ position.position }}</p>
          </div>
          <div class="col">
            <p class="col-text"
               [innerHTML]="
               (position.lastName | highlight : ((filter$ | async)?.lastName ?? ''))
               + ' ' + (position.firstName | toInitial)
               + (position.middleName ? (position.middleName | toInitial) : '')">
            </p>
          </div>
          <div class="col">
            <p class="col-text">{{ position.salary }}</p>
          </div>
          <div class="col">
            <p class="col-text">{{ position.hireDate | date:'dd.MM.yyyy' }}</p>
          </div>
          <div class="col">
            <p class="col-text">{{ position.email }}</p>
          </div>
        </div>
      }
    }

    @if (department.isExpanded() && department.subDepartments) {
      @for (item of department.subDepartments; track item.nodeId) {
        <div class="subtree">
          <app-tree class="tree" [department]="item"></app-tree>
        </div>
      }
    }
  </div>
</div>




