@use 'variables' as var;

:host {
  --horizontal-line-width: 2px;
}

.tree {
  background-color: var(--main-background-color);
  position: relative;
}

.node-row {
  height: var(--row-height);
  display: flex;
  align-items: center;
}

.department {
  position: relative;
  background-color: var(--department-background-color);

  .node-name {
    display: flex;
    align-items: center;
  }

  .node-name::before {
    content: '';
    position: absolute;
    top: 25%;
    left: calc(var(--horizontal-line-width) / -2);
    height: 50%;
    border-left: var(--horizontal-line-width) solid var(--icon-color);
    transform: rotate(90deg) translateY(50%);
    z-index: 3;
    color: var(--icon-color);
  }

  .node-name::after {
    content: '';
    position: absolute;
    top: calc(-100vh + (var(--row-height) / 2));
    left: calc((var(--row-height) / -2));
    height: 100vh;
    border-left: var(--horizontal-line-width) solid var(--icon-color);
    z-index: 3;
    color: var(--icon-color);
  }

  .toggle-button {
    cursor: pointer;
    font-size: 0.8rem;
    width: calc(var(--row-height) - var(--horizontal-line-width) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--icon-color);
  }

  .toggle-button::before {
    content: "\25B6"; /* стрелка вправо */
  }

  .toggle-button.expanded::before {
    content: "\25BC"; /* стрелка вниз */
  }

  .toggle-button:focus-visible {
    color: var(--accent-color);
  }
}

.position {
  cursor: pointer;
  position: relative;
  background-color: var(--position-background-color);
  padding-left: 0.5rem;
}

.selected-row {
  background-color: var(--highlight-color);
}







