<div class="tree"
     [ngStyle]="{'margin-left': department.hierarchyLevel > 0 ? '1.5rem' : 0, 'z-index': department.departmentZIndex }">

  <div class="node">
    <div class="node-row department" [ngStyle]="{'z-index': department.departmentZIndex}">
      <div class="node-name">{{ department.name }}</div>
    </div>

    @if (department.positions) {
      @for (position of department.positions; track position.nodeId) {
        <div class="node-row position" [ngStyle]="{'z-index': department.departmentZIndex}">
          <div class="node-name">{{ position.firstName }} {{ position.lastName }}</div>
        </div>
      }
    }

    @if (department.subDepartments) {
      @for (item of department.subDepartments; track item.nodeId) {
        <div class="subtree">
          <app-tree class="tree" [department]="item"></app-tree>
        </div>
      }
    }
  </div>
</div>




