<div class="tree"
     [ngStyle]="{'margin-left': department.hierarchyLevel > 0 ? '1.5rem' : 0, 'z-index': department.departmentZIndex }">

  <div class="node">
    <div class="node-row department" [ngStyle]="{'z-index': department.departmentZIndex}">
      <div class="node-name">
        <button
          class="toggle-button"
          [ngClass]="{'expanded': department.isExpanded}"
          [attr.aria-expanded]="department.isExpanded"
          (click)="toggleExpand(department)"
          tabindex="0">
        </button>

        <p>{{ department.name }}</p>
      </div>
    </div>

    @if (department.isExpanded && department.positions) {
      @for (position of department.positions; track position.nodeId) {
        <div class="node-row position" (click)="onPositionClick(position)"
             [ngStyle]="{'z-index': department.departmentZIndex, 'margin-left': department.subDepartments?.length ? '1.5rem' : 0}"
             [ngClass]="{'selected-row': selectedPosition()?.nodeId === position.nodeId}">
          
          <div class="node-name">
            <p>{{ position.firstName }} {{ position.lastName }}</p>
          </div>
        </div>
      }
    }

    @if (department.isExpanded && department.subDepartments) {
      @for (item of department.subDepartments; track item.nodeId) {
        <div class="subtree">
          <app-tree class="tree" [department]="item"></app-tree>
        </div>
      }
    }
  </div>
</div>




