:root {
  --row-height: 1.6rem;
  --header-footer-height: calc(var(--row-height) * 1.5);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin fixed-header-footer {
  position: fixed;
  left: 0;
  width: 100%;
  height: var(--header-footer-height);
  z-index: 1000;
  background-color: plum;
}
