:root {
  /* Переменные для цветов */
  --primary-color: #4C566A;
  --secondary-color: #81A1C1;
  --main-background-color: #D8DEE9;
  --text-color: #2E3440;
  --icon-color: #3B4252;
  --button-color: #5E81AC;
  --accent-color: #8B008B;
  --highlight-text-color: #EEE8AA;
  --highlight-row-background-color: #FFD700;
  --department-background-color: #8FBCBB;
  --position-background-color: #C1D9DD;
  --light-blue: #E5E9F0;
  --scrollbar-color: #4C566A #C1D9DD;


  /* Другие переменные */
  --row-height: 1.6rem;
  --header-footer-height: calc(var(--row-height) * 1.5);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin fixed-header-footer {
  position: fixed;
  left: 0;
  width: 100%;
  height: var(--header-footer-height);
  z-index: 1000;
  background-color: var(--primary-color);
}

@mixin col-text-style {
  margin: 0 0.5rem;
  white-space: nowrap;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
