@use 'variables' as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Запрет выделения текста на всех элементах
  user-select: none;
  -webkit-user-select: none; // Chrome, Safari
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // Internet Explorer/Edge
}

html, body {
  height: 100%;
}

body {
  line-height: 1;
  background-color: var(--main-background-color);
  font-family: "Times New Roman", Times, serif;
}

input {
  font-family: "Times New Roman", Times, serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.scrollable-y {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color);
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
}

button:focus-visible {
  outline: none;
}

p, label, .title {
  color: var(--text-color);
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.highlight {
  background-color: var(--accent-color);
  color: var(--highlight-text-color);
}


